* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #e5e5e5;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.top-products {
    width: 100%;
    /* height: 420px; */
    margin: 1rem auto;
}
.new-added-products {
    width: 100%;
    /* height: 420px; */
    margin: 1rem auto;
}
.product-title {
    margin: 20px 0 20px 0;
}
.mini-title {
    color: #7FAD39;
    font-size: 16px;
    font-weight: 700;
    margin: 60px 0 0.5rem 0;
}
.section-title {
    color: #000;
    font-size: 28px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 246px);
    grid-template-rows: 400px;
}
.card {
    margin: 10px 10px 10px 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    border: 0.5px solid rgba(42, 42, 42, 0.15);
    padding: 20px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}
.badge {
    padding: 9px 7px;
    color: #fff;
    background-color: #7FAD39;
    font-size: 12px;
    font-weight: 700;
}
.liked {
    width: 32px;
    height: 32px;
    background-color: #D8E6C3;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
}
.card-body {
    width: 100%;
    margin: 8px 0 14px 0;
    text-align: center;
}
.card-img {
    width: 100%;
    height: 136px;
}
.card-img img {
    width: 100%;
    height: 100%;
}
.in-stock {
    margin: 8px 0;
    color: #A9A9A9;
    font-size: 12px;
    font-weight: 600;
}
.product-name {
    margin: 8px 0;
    color: #000;
    font-weight: 800;
    text-transform: capitalize;
}
.product-price {
    margin: 8px 0 27px 0;
    color: #7FAD39;
    font-size: 1rem;
    font-weight: 800;
}
.product-price span {
    color: #A9A9A9;
    font-weight: 600;
    text-decoration: line-through;
}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.count i {
    padding: 6px 8px;
    color: #fff;
    background-color: #2A2A2A;
}
.count a:nth-child(1) {
    margin-right: 9px;
}
.count a:nth-child(3) {
    margin-left: 9px;
}
.count .number {
    font-weight: 600;
}
.card-footer .add-to-cart a {
    color: #000;
}
@media (max-width: 960px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 226px);
        grid-template-rows: 400px;
        justify-content: center;
    }
    .product-title {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 226px);
        grid-template-rows: 400px;
        justify-content: center;
    }
    .product-title {
        text-align: center;
    }
}
@media (max-width: 480px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 256px);
        grid-template-rows: 400px;
        justify-content: center;
    }
    .product-title {
        text-align: center;
    }
}